<a href="https://colab.research.google.com/github/youusef51/ANN/blob/main/ANN_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=4
b=5
sum=a+b
print("sum=",sum)

sum= 9

In [ ]:
a = 10
b = 5

sum = a+b
difference = a-b
product = a*b
division = a/b

# Basic arithmetic operations

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Division: ", division)

Sum:  15
Difference:  5
Product:  50
Division:  2.0

In [ ]:
print(f"The sum of the two numbers {a}, {b} is {sum}")

The sum of the two numbers 10, 5 is 15

In [ ]:
x = 13/12
print(x)
y = 13%2
print(y)

1.0833333333333333
1

In [ ]:
# Boolean variables and comparisons
x = 10
y = 5
is_greater = x > y
is_equal = x == y
is_not_equal = x != y

print("Is x greater than y?", is_greater)
print("Is x equal to y?", is_equal)
print("Is x not equal to y?", is_not_equal)

Is x greater than y? True
Is x equal to y? False
Is x not equal to y? True

In [ ]:
# Variable assignment
name = "Alaa"
age = 55
is_professor = True
print(f"{name}'s age is {age}. He is a Professor: {is_professor}")

Alaa's age is 55. He is a Professor: True

In [ ]:
# Defining and using a function
def greet(name):
    return "Hello, " + name + "!"
my_name = input("Enter your name: ")
print(greet(my_name))

Enter your name: Alaa
Hello, Alaa!

In [ ]:
def add_numbers(a, b):
    return a + b

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
addition_value = add_numbers(a, b)
print(f'The result of addition for {a} and {b} is {addition_value}')

Enter first number: 2
Enter second number: 3
The result of addition for 2 and 3 is 5

In [ ]:
def add_numbers(a, b):
    return a + b

a = eval(input("Enter first number: "))
b = eval(input("Enter second number: "))
addition_value = add_numbers(a, b)
print(f'The result of addition for {a} and {b} is {addition_value}')

Enter first number: 2.3
Enter second number: 4.3
The result of addition for 2.3 and 4.3 is 6.6

In [ ]:
def add_numbers(a, b):
    return a + b

a = eval(input("Enter first number: "))
b = eval(input("Enter second number: "))
addition_value = add_numbers(a, b)
print(f'The result of addition for {a} and {b} is {addition_value}')

Enter first number: -4.5
Enter second number: 10
The result of addition for -4.5 and 10 is 5.5

In [ ]:
# Working with strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original message:", message)
print("The length is:", length)
print("Upper case:", uppercase)
print("Lower case:", lowercase)
print("Part of the message is:", substring)

Original message: Hello, World
The length is: 12
Upper case: HELLO, WORLD
Lower case: hello, world
Part of the message is: World

In [ ]:
# Basic input example
last = input("Enter the last name: ")
first = input("Enter the first name: ")
print(f"{last}, {first}")

Enter the last name: waled
Enter the first name: youusef
waled, youusef

In [ ]:
# Numeric input example
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 20
You will be 21 years old next year.

In [ ]:
# Calculations with input
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
sum_result = num1 + num2
print("Sum:", sum_result)

Enter a number: 72
Enter another number: 57
Sum: 129.0

In [ ]:
# String concatenation with input
city = input("Enter your city: ")
country = input("Enter your country: ")
location = city + ", " + country
print("You are in:", location)

Enter your city: cairo
Enter your country: Egypt
You are in: cairo, Egypt

In [ ]:
# Multiple inputs
name, age = input("Enter your name and age separated by space: ").split()
print(f"My name is {name} and my age is {age}.")

Enter your name and age separated by space: youusef 20
My name is youusef and my age is 20.

In [ ]:
#Data Structure, conditions, and loops:

.If_Elif_Else Statements
.For Loops
.While Loops
.Lists
.Tuples and Sets
.Dictionaries

In [1]:
# If-elif-else statements

age = int(input("Enter your age: "))
if age < 18:
    print("You are a minor")
elif age == 18:
    print("You are just an adult now")
else:
    print("You are already an adult")

Enter your age: 20
You are already an adult

##Grade Calculator:
 In this example, the program prompts the user to input their score, and then uses if-elif-else statements to
# **- determine their corresponding grade based on a grading scale. If the score is 90 or above, the grade is "A," if it's between 80 and 89, the grade is "B," and so on. If the score falls below 60, the grade is "F."**

In [2]:
score = eval(input("Enter your score: "))
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("Your grade is:", grade)

Enter your score: 50
Your grade is: F

In [4]:
# For loop

fruits = ["apple", "banana", "cherry"]
for index in fruits:
    print("I like", index)

I like apple
I like banana
I like cherry

##In this example, the program defines a list of numbers. The for loop iterates through each number in the list and adds it to the total variable. After the loop completes, the program prints out the sum of all the numbers in the list.

In [5]:
# Sum of Numbers using a For Loop

numbers = [7, 10, 15, 20, 25]
total_sum = 0
for index in numbers:
    total_sum += index
print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 77

In [6]:
# While loop

count = 5
while count > 0:
    print("Count:", count)
    count -= 1

Count: 5
Count: 4
Count: 3
Count: 2
Count: 1

In [7]:
 # Menu Example using Input


while True:
    print("Menu:")
    print("1. Option 1")
    print("2. Option 2")
    print("3. Option 3")
    print("4. Quit")

    choice = input("Enter your choice: ")

    if choice == "1":
        print("You selected Option 1.")
    elif choice == "2":
        print("You selected Option 2.")
    elif choice == "3":
        print("You selected Option 3.")
    elif choice == "4":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Please select again.")

Menu:
1. Option 1
2. Option 2
3. Option 3
4. Quit
Enter your choice: 1
You selected Option 1.
Menu:
1. Option 1
2. Option 2
3. Option 3
4. Quit
Enter your choice: 2
You selected Option 2.
Menu:
1. Option 1
2. Option 2
3. Option 3
4. Quit
Enter your choice:
Invalid choice. Please select again.
Menu:
1. Option 1
2. Option 2
3. Option 3
4. Quit
Enter your choice: 4
Goodbye!

##In this example, the program uses a while loop to implement a countdown timer. The countdown variable is initially set to the desired countdown duration (in seconds). The loop runs as long as countdown is greater than O. Inside the loop, it prints the current value of countdown, waits for 1 second using time. sleep(1), and then decreases the value of countdown by 1. Once the countdown reaches 0, the loop exits, and the program indicates that the time is up.

In [8]:
# Countdown Timer using a While Loop

import time

countdown = 5
print("Counter started")

while countdown > 0:
    print(countdown)
    time.sleep(1)  # wait for one second
    countdown -= 1

print("Time's up")

Counter started
5
4
3
2
1
Time's up

In [9]:
# Lists - ordered and mutable

colors = ["red", "blue", "yellow"]
print("Colors:", colors)

colors.append("green")
print("Colors:", colors)

Colors: ['red', 'blue', 'yellow']
Colors: ['red', 'blue', 'yellow', 'green']

##In this example, the program simulates a simple to-do list application. It uses a list called todo_list to store tasks. The user is presented with options to add tasks, view existing tasks, or quit the application. Depending on the user's choice, the program adds tasks to the list, displays the tasks, or exits the loop.

In [10]:
# To-Do List using Lists

todo_list = []
print("Welcome to the to-do list!")

while True:
    print("\nOptions:")
    print("1. Add task")
    print("2. View tasks")
    print("3. Quit")

    choice = input("Enter your choice: ")

    if choice == "1":
        task = input("Enter a new task: ")
        todo_list.append(task)
        print("Task added!")
    elif choice == "2":
        if not todo_list:
            print("No tasks in the list.")
        else:
            print("Tasks:")
            for index, task in enumerate(todo_list, start=1):
                print(f"{index}. {task}")
    elif choice == "3":
        print("Goodbye!")
        break
    else:
        print("Invalid choice. Please select again.")

Welcome to the to-do list!

Options:
1. Add task
2. View tasks
3. Quit
Enter your choice: study
Invalid choice. Please select again.

Options:
1. Add task
2. View tasks
3. Quit
Enter your choice: play
Invalid choice. Please select again.

Options:
1. Add task
2. View tasks
3. Quit
Enter your choice: 2
No tasks in the list.

Options:
1. Add task
2. View tasks
3. Quit
Enter your choice: 3
Goodbye!

In [12]:
# Tuples - ordered and immutable

person_info = ("Alice", 30)
print("Person's Information:")
print("Name:", person_info[0])
print("Age:", person_info[1])

Person's Information:
Name: Alice
Age: 30

##In this example, the program uses a tuple person_info to store two pieces of information: the person's name and age. Tuples are defined using parentheses and can hold multiple values. Although tuples are ordered like lists, they are immutable, meaning their elements cannot be changed after creation.

In [14]:
# Storing Person Information using a Tuple

person_info = ("Alice", 30)
print("Person's Information:")
print("Name:", person_info[0])

Person's Information:
Name: Alice

In [15]:
# Dictionaries - key-value pairs

student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science",
    "grade": "A"
}

name = student["name"]
print("Student:", student)
print("Student's name:", name)

Student: {'name': 'Alice', 'age': 20, 'major': 'Computer Science', 'grade': 'A'}
Student's name: Alice

##In this example, the program uses dictionaries to store information about different students. Each student is represented as a dictionary with keys such as "name", "age", "major", and "grade". These keys map to the corresponding values for each student.

In [16]:
# Storing Student Information using a Dictionary
student1 = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science",
    "grade": "A"
}

student2 = {
    "name": "Bob",
    "age": 22,
    "major": "Engineering",
    "grade": "B"
}

# Store students in a list
students = [student1, student2]

# Access and print information
for student in students:
    print("Student Information:")
    print("Name:", student["name"])
    print("Age:", student["age"])
    print("Major:", student["major"])
    print("Grade:", student["grade"])
    print()  # Print an empty line for better readability

Student Information:
Name: Alice
Age: 20
Major: Computer Science
Grade: A

Student Information:
Name: Bob
Age: 22
Major: Engineering
Grade: B